[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = ">=1.15.0,<2.0.0"
coverage = "*"
wheel = "*"
black = ">=25.0,<27.0.0"
memray = "*"
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"

[packages]
yawast-ng = {editable = true,path = "."}
sslyze = "==6.0.0"
requests-mock = ">=1.12,<2.0.0"
jsonschema = ">=4.0,<5.0.0"
validator-collection = ">=1.5.0,<2.0.0"
requests = "*"
publicsuffixlist = ">=1.0.0,<2.0.0"
dnspython = ">=2.7,<3.0.0"
urllib3 = ">=2.6.0,<2.7.0"
colorama = ">=0.4.0,<0.5.0"
nassl = ">=5.2,<6"
cryptography = ">42,<43"
packaging = ">=24.2,<25.0"
beautifulsoup4 = ">=4.13.0,<5.0.0"
psutil = ">=7.0,<8.0.0"
selenium = ">=4.40.0,<5.0.0"
setuptools = ">=78.1,<79.0.0"
ordered-set = ">=4.1.0,<5.0.0"
python-dateutil = ">=2.9.0,<3.0.0"
webdriver-manager = "*"

[requires]
python_version = "3.12"
